\#*
.*
!.gitignore
*.swp
*~
*.swo
$.swn
.docker.sh
config/certi.php
custom/ghsapi/lib/config.php
config/developer.zl
custom/ghsapi/controller/ldapi.php
/test.php
/custom/b2c/lib/logs
ldgoods.log.*
*.pem
docker.sh
ueditor
/composer.phar
/vendor

docker-compose.yml
core
